@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EAFDFC;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
}

#name {
    font-size: 24px;
    background-color: rgba(17, 204, 241, 0.146);
    border-radius: 12px;
    padding: 5px 12px;
}

.nav {
    font-size: 15px;
    font-weight: 500;
}

.navbar-brand {
    letter-spacing: 4px;
}

#navli {
    color: #EAFDFC;
}

.nav li:hover {
    background-color: rgba(211, 186, 186, 0.043);
    border-radius: 8px;
}

.rightcontain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.getintouch{
    margin-top: 60px;
    height: 100vh;
}
.getcontainer{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.getintouch .left{
    height: 100vh;
}
.getintouch .leftcontain{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 648px;
}
#buton{
    color: #EAFDFC;
    background-color: black;
    /* width: 100px; */
    padding: 10px 10px;
    border: none;
    /* margin-left: 40%; */
    border-radius: 5px;
    margin-top: 20px;
}

.getintouch .right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;

}
.getintouch .heading{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 20px;
}
.getintouch form{
    padding: 30px;
    /* color: ; */
    border-radius: 5px;
    /* background-color: rgba(0, 0, 0, 0.904); */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.562);

}
.getintouch form label{
    margin-bottom: 5px;
    font-size: 14px;
}
.getintouch form input{
    padding: 8px;
}
.getintouch form input::placeholder{
    vertical-align: middle;
}
.getintouch form > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.contactsec{
    display: grid;
    grid-template-columns: 50% 50%;
    color: #EAFDFC;
    align-items: center;
    height: 200px;
    background-color: rgb(46, 46, 46);
}
.contactsec div{
    padding: 40px;
    font-size: 30px;
}
.contactsec input{
    width: auto;
    max-width: 600px;
    height: 40px;
    border: none;
    background: none;
    color: #EAFDFC;
}
footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
}
footer .upper{
    color: #EAFDFC;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    line-height: 25px;
    font-size: 15px;
}
footer .lower{
    color: #EAFDFC;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
footer .buttons{
    display: flex;
    width: 150px;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}
.terms{
    display: flex;
    width: 500px;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:900px) {
    .top h1{
        font-size: 40px;
        width: auto;
    }
    .top input{
        height: 40px;
    }
    .top input::placeholder{
        font-size: 16px;
    }
    .middlebanner h2{
        font-size: 25px;
    }
    .getintouch li{
        font-size: 14px;
    }
    .card li{
        font-size: 12px;
    }
    .card .head{
        font-size: 16px;
    }
    .card{
        margin: 10px;
        padding: 10px;
    }
    .contactsec{
        height: 100px;
    }
    .contactsec div{
        font-size: 18px;
        padding: 20px;
    }
    footer{
        padding: 0;
    }
    form label{
        font-size: 14px;
    }
}

@media screen and (max-width:670px) {
    .cardcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .card{
        width: 300px;
        align-items: center;
        text-align: center;
    }
    .card ul{
        padding: 0;
        /* font-size: 14px; */
    }
    .cardimg{
        margin: 10px;
    }
    .card li{
        font-size: 14px;
    }

    .card .head{
        font-size: 20px;
    }
    .getintouch{
        height: auto;
    }
    .getcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .getintouch .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
}
@media screen and (max-width:524px) {
    .contactsec div{
        font-size: 15px;
    }
}
@media screen and (max-width:478px) {
    .top input{
        min-width: 250px;
        width: auto;
    }
    .contactsec div{
        font-size: 13px;
    }
    footer .upper{
        padding: 20px;
    }
    ul{
        font-size: 12px;
    }
    footer .lower{
        font-size: 13px;
    }
}
